allow hal_graphics_composer_default video_device:chr_file rw_file_perms;
add_service(hal_graphics_composer_default, vendor_surfaceflinger_vndservice)
hal_client_domain(hal_graphics_composer_default, hal_graphics_allocator)
allow hal_graphics_composer_default self:netlink_kobject_uevent_socket create_socket_perms_no_ioctl;
vndbinder_use(hal_graphics_composer_default)

userdebug_or_eng(`
    allow hal_graphics_composer_default vendor_log_file:dir create_dir_perms;
')
