type pixelsupport_app, coredomain, domain;

app_domain(pixelsupport_app)

bluetooth_domain(pixelsupport_app)

get_prop(pixelsupport_app, bluetooth_lea_prop)

net_domain(pixelsupport_app)

allow pixelsupport_app app_api_service:service_manager find;
allow pixelsupport_app audioserver_service:service_manager find;
allow pixelsupport_app mediaserver_service:service_manager find;
allow pixelsupport_app radio_service:service_manager find;
